.tn-login .signin {
  max-width: 520px;
  margin: 0 auto;
  padding: 40px 0 30px;
}

.tn-login .signin-header {
  text-align: center;
  margin-bottom: 65px;
  font-size: 32px;
}

.tn-login .signin-group {
  margin-bottom: 30px;
}

.tn-login .signin-group label {
  font-weight: normal;
  margin-bottom: 15px;
}

.tn-login .signin-aide {
  display: flex;
  justify-content: space-between;
}

.tn-login .signin-aide li {
  list-style: none;
}

.tn-login .signin-aide li label {
  color: #91949c;
  font-weight: normal;
  cursor: pointer;
}

.tn-login .signin-aide li .checkbox-aide {
  position: absolute;
  opacity: 0;
}

.tn-login .signin-aide li .checkbox-aide + label::before {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #ebebeb;
}

.tn-login .signin-aide li .checkbox-aide:checked + label::before {
  content: "\2714";
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #f7726b;
}

.tn-login .signin-aide li input[type="checkbox"] {
  visibility: hidden;
}

.tn-login .signin-aide li a {
  text-decoration: none;
  color: #91949c;
  background: transparent;
}

.tn-login .signin-aide li a:hover {
  color: #f7726b;
  text-decoration: underline;
}

.tn-login .signin-footer .signin_btn {
  width: 100%;
  margin-top: 40px;
  height: 45px;
  display: block;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  background: #f7726b;
  border-radius: 3px;
  box-shadow: 0 5px 30px #f3aba7;
  transition: all 0.15s ease;
}

.tn-login .signin-footer .signin_btn--register {
  background: #bfbece;
  box-shadow: 0 5px 30px #bfbece;
}

.tn-login .signin-footer .signin_btn a {
  color: #fff;
  display: block;
}

.tn-login .signin-footer .signin_btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .tn-login .signin {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .tn-login .signin {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .tn-login .signin {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1800px) {
  .tn-login .signin {
    padding-top: 120px;
  }
}
